<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.MenuMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.Menu">
    <id column="menu_id" jdbcType="INTEGER" property="menuId" />
    <result column="menu_name" jdbcType="VARCHAR" property="menuName" />
    <result column="menu_parent_id" jdbcType="INTEGER" property="menuParentId" />
    <result column="menu_key" jdbcType="VARCHAR" property="menuKey" />
    <result column="menu_url" jdbcType="VARCHAR" property="menuUrl" />
    <result column="menu_level" jdbcType="BIT" property="menuLevel" />
    <result column="memo" jdbcType="VARCHAR" property="memo" />
    <result column="del" jdbcType="BIT" property="del" />
    <result column="addname" jdbcType="VARCHAR" property="addname" />
    <result column="addid" jdbcType="INTEGER" property="addid" />
    <result column="addtime" jdbcType="TIMESTAMP" property="addtime" />
    <result column="editname" jdbcType="VARCHAR" property="editname" />
    <result column="editid" jdbcType="INTEGER" property="editid" />
    <result column="edittime" jdbcType="TIMESTAMP" property="edittime" />
    <result column="deleteid" jdbcType="INTEGER" property="deleteid" />
    <result column="deletename" jdbcType="VARCHAR" property="deletename" />
    <result column="deletetime" jdbcType="TIMESTAMP" property="deletetime" />
  </resultMap>
  <sql id="where">
    <where>
      <if test="menuName != null">
        AND menu_name = #{menuName,jdbcType=VARCHAR} OR menu_name LIKE CONCAT('%',#{menuName,jdbcType=VARCHAR},'%' )
      </if>
      <if test="menuParentId != null">
        AND menu_parent_id = #{menuParentId,jdbcType=INTEGER}
      </if>
      <if test="menuKey != null">
        AND menu_key = #{menuKey,jdbcType=VARCHAR}
      </if>
      <if test="menuUrl != null">
        AND menu_url = #{menuUrl,jdbcType=VARCHAR}
      </if>
      <if test="menuLevel != null">
        AND menu_level = #{menuLevel,jdbcType=INTEGER}
      </if>
    </where>
  </sql>
  <sql id="Base_Column_List">
    menu_id, menu_name, menu_parent_id, menu_key, menu_url, menu_level, memo, del,
    addname, addid, addtime, editname, editid, edittime
  </sql>
  <insert id="insert" parameterType="com.bean.model.Menu">
    insert into exm_menu
    <trim prefix="(" suffix=")" suffixOverrides=",">
    <if test="menuName != null">
      menu_name,
    </if>
    <if test="menuParentId != null">
      menu_parent_id,
    </if>
    <if test="menuKey != null">
      menu_key,
    </if>
    <if test="menuUrl != null">
      menu_url,
    </if>
    <if test="menuLevel != null">
      menu_level,
    </if>
    <if test="addname != null">
      addname,
    </if>
    <if test="addid != null">
      addid,
    </if>
    <if test="addtime != null">
      addtime,
    </if>
  </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="menuName != null">
        #{menuName,jdbcType=VARCHAR},
      </if>
      <if test="menuParentId != null">
        #{menuParentId,jdbcType=INTEGER},
      </if>
      <if test="menuKey != null">
        #{menuKey,jdbcType=VARCHAR},
      </if>
      <if test="menuUrl != null">
        #{menuUrl,jdbcType=VARCHAR},
      </if>
      <if test="menuLevel != null">
        #{menuLevel,jdbcType=INTEGER},
      </if>
      <if test="memo != null">
        #{memo,jdbcType=VARCHAR},
      </if>
      <if test="addname != null">
        #{addname,jdbcType=VARCHAR},
      </if>
      <if test="addid != null">
        #{addid,jdbcType=INTEGER},
      </if>
      <if test="addtime != null">
        #{addtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="update" parameterType="com.bean.model.Menu">
    UPDATE exm_menu
    <set>
      <if test="menuName != null">
        menu_name = #{menuName,jdbcType=VARCHAR},
      </if>
      <if test="menuParentId != null">
        menu_parent_id = #{menuParentId,jdbcType=INTEGER},
      </if>
      <if test="menuKey != null">
        menu_key = #{menuKey,jdbcType=VARCHAR},
      </if>
      <if test="menuUrl != null">
        menu_url = #{menuUrl,jdbcType=VARCHAR},
      </if>
      <if test="menuLevel != null">
        menu_level = #{menuLevel,jdbcType=INTEGER},
      </if>
      <if test="del != null">
        del = #{del,jdbcType=BIT},
      </if>
      <if test="editname != null">
        editname = #{editname,jdbcType=VARCHAR},
      </if>
      <if test="editid != null">
        editid = #{editid,jdbcType=INTEGER},
      </if>
      <if test="edittime != null">
        edittime = #{edittime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <where>
      menu_id = #{menuId,jdbcType=INTEGER}
    </where>
  </update>
  <select id="getByMap" parameterType="java.util.Map" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM exm_menu
    <include refid="where" />
  </select>
  <select id="getById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM exm_menu
    WHERE menu_id=#{menuId,jdbcType=INTEGER}
  </select>
  <select id="getListByMap" parameterType="java.util.Map" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM exm_menu
    <include refid="where" />
  </select>
  <select id="getCountByMap" parameterType="java.util.Map" resultType="int">
    SELECT
    COUNT(*)
    FROM exm_menu
    <include refid="where" />
  </select>

  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <select id="selectByExample" parameterType="com.bean.model.MenuExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from exm_menu
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from exm_menu
    where menu_id = #{menuId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from exm_menu
    where menu_id = #{menuId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.bean.model.MenuExample">
    delete from exm_menu
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insertSelective" parameterType="com.bean.model.Menu">
    insert into exm_menu
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="menuId != null">
        menu_id,
      </if>
      <if test="menuName != null">
        menu_name,
      </if>
      <if test="menuParentId != null">
        menu_parent_id,
      </if>
      <if test="menuKey != null">
        menu_key,
      </if>
      <if test="menuUrl != null">
        menu_url,
      </if>
      <if test="menuLevel != null">
        menu_level,
      </if>
      <if test="memo != null">
        memo,
      </if>
      <if test="del != null">
        del,
      </if>
      <if test="addname != null">
        addname,
      </if>
      <if test="addid != null">
        addid,
      </if>
      <if test="addtime != null">
        addtime,
      </if>
      <if test="editname != null">
        editname,
      </if>
      <if test="editid != null">
        editid,
      </if>
      <if test="edittime != null">
        edittime,
      </if>
      <if test="deleteid != null">
        deleteid,
      </if>
      <if test="deletename != null">
        deletename,
      </if>
      <if test="deletetime != null">
        deletetime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="menuId != null">
        #{menuId,jdbcType=INTEGER},
      </if>
      <if test="menuName != null">
        #{menuName,jdbcType=VARCHAR},
      </if>
      <if test="menuParentId != null">
        #{menuParentId,jdbcType=INTEGER},
      </if>
      <if test="menuKey != null">
        #{menuKey,jdbcType=VARCHAR},
      </if>
      <if test="menuUrl != null">
        #{menuUrl,jdbcType=VARCHAR},
      </if>
      <if test="menuLevel != null">
        #{menuLevel,jdbcType=BIT},
      </if>
      <if test="memo != null">
        #{memo,jdbcType=VARCHAR},
      </if>
      <if test="del != null">
        #{del,jdbcType=BIT},
      </if>
      <if test="addname != null">
        #{addname,jdbcType=VARCHAR},
      </if>
      <if test="addid != null">
        #{addid,jdbcType=INTEGER},
      </if>
      <if test="addtime != null">
        #{addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="editname != null">
        #{editname,jdbcType=VARCHAR},
      </if>
      <if test="editid != null">
        #{editid,jdbcType=INTEGER},
      </if>
      <if test="edittime != null">
        #{edittime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteid != null">
        #{deleteid,jdbcType=INTEGER},
      </if>
      <if test="deletename != null">
        #{deletename,jdbcType=VARCHAR},
      </if>
      <if test="deletetime != null">
        #{deletetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.bean.model.MenuExample" resultType="java.lang.Long">
    select count(*) from exm_menu
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update exm_menu
    <set>
      <if test="record.menuId != null">
        menu_id = #{record.menuId,jdbcType=INTEGER},
      </if>
      <if test="record.menuName != null">
        menu_name = #{record.menuName,jdbcType=VARCHAR},
      </if>
      <if test="record.menuParentId != null">
        menu_parent_id = #{record.menuParentId,jdbcType=INTEGER},
      </if>
      <if test="record.menuKey != null">
        menu_key = #{record.menuKey,jdbcType=VARCHAR},
      </if>
      <if test="record.menuUrl != null">
        menu_url = #{record.menuUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.menuLevel != null">
        menu_level = #{record.menuLevel,jdbcType=BIT},
      </if>
      <if test="record.memo != null">
        memo = #{record.memo,jdbcType=VARCHAR},
      </if>
      <if test="record.del != null">
        del = #{record.del,jdbcType=BIT},
      </if>
      <if test="record.addname != null">
        addname = #{record.addname,jdbcType=VARCHAR},
      </if>
      <if test="record.addid != null">
        addid = #{record.addid,jdbcType=INTEGER},
      </if>
      <if test="record.addtime != null">
        addtime = #{record.addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.editname != null">
        editname = #{record.editname,jdbcType=VARCHAR},
      </if>
      <if test="record.editid != null">
        editid = #{record.editid,jdbcType=INTEGER},
      </if>
      <if test="record.edittime != null">
        edittime = #{record.edittime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.deleteid != null">
        deleteid = #{record.deleteid,jdbcType=INTEGER},
      </if>
      <if test="record.deletename != null">
        deletename = #{record.deletename,jdbcType=VARCHAR},
      </if>
      <if test="record.deletetime != null">
        deletetime = #{record.deletetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update exm_menu
    set menu_id = #{record.menuId,jdbcType=INTEGER},
      menu_name = #{record.menuName,jdbcType=VARCHAR},
      menu_parent_id = #{record.menuParentId,jdbcType=INTEGER},
      menu_key = #{record.menuKey,jdbcType=VARCHAR},
      menu_url = #{record.menuUrl,jdbcType=VARCHAR},
      menu_level = #{record.menuLevel,jdbcType=BIT},
      memo = #{record.memo,jdbcType=VARCHAR},
      del = #{record.del,jdbcType=BIT},
      addname = #{record.addname,jdbcType=VARCHAR},
      addid = #{record.addid,jdbcType=INTEGER},
      addtime = #{record.addtime,jdbcType=TIMESTAMP},
      editname = #{record.editname,jdbcType=VARCHAR},
      editid = #{record.editid,jdbcType=INTEGER},
      edittime = #{record.edittime,jdbcType=TIMESTAMP},
      deleteid = #{record.deleteid,jdbcType=INTEGER},
      deletename = #{record.deletename,jdbcType=VARCHAR},
      deletetime = #{record.deletetime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.bean.model.Menu">
    update exm_menu
    <set>
      <if test="menuName != null">
        menu_name = #{menuName,jdbcType=VARCHAR},
      </if>
      <if test="menuParentId != null">
        menu_parent_id = #{menuParentId,jdbcType=INTEGER},
      </if>
      <if test="menuKey != null">
        menu_key = #{menuKey,jdbcType=VARCHAR},
      </if>
      <if test="menuUrl != null">
        menu_url = #{menuUrl,jdbcType=VARCHAR},
      </if>
      <if test="menuLevel != null">
        menu_level = #{menuLevel,jdbcType=BIT},
      </if>
      <if test="memo != null">
        memo = #{memo,jdbcType=VARCHAR},
      </if>
      <if test="del != null">
        del = #{del,jdbcType=BIT},
      </if>
      <if test="addname != null">
        addname = #{addname,jdbcType=VARCHAR},
      </if>
      <if test="addid != null">
        addid = #{addid,jdbcType=INTEGER},
      </if>
      <if test="addtime != null">
        addtime = #{addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="editname != null">
        editname = #{editname,jdbcType=VARCHAR},
      </if>
      <if test="editid != null">
        editid = #{editid,jdbcType=INTEGER},
      </if>
      <if test="edittime != null">
        edittime = #{edittime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteid != null">
        deleteid = #{deleteid,jdbcType=INTEGER},
      </if>
      <if test="deletename != null">
        deletename = #{deletename,jdbcType=VARCHAR},
      </if>
      <if test="deletetime != null">
        deletetime = #{deletetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where menu_id = #{menuId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bean.model.Menu">
    update exm_menu
    set menu_name = #{menuName,jdbcType=VARCHAR},
      menu_parent_id = #{menuParentId,jdbcType=INTEGER},
      menu_key = #{menuKey,jdbcType=VARCHAR},
      menu_url = #{menuUrl,jdbcType=VARCHAR},
      menu_level = #{menuLevel,jdbcType=BIT},
      memo = #{memo,jdbcType=VARCHAR},
      del = #{del,jdbcType=BIT},
      addname = #{addname,jdbcType=VARCHAR},
      addid = #{addid,jdbcType=INTEGER},
      addtime = #{addtime,jdbcType=TIMESTAMP},
      editname = #{editname,jdbcType=VARCHAR},
      editid = #{editid,jdbcType=INTEGER},
      edittime = #{edittime,jdbcType=TIMESTAMP},
      deleteid = #{deleteid,jdbcType=INTEGER},
      deletename = #{deletename,jdbcType=VARCHAR},
      deletetime = #{deletetime,jdbcType=TIMESTAMP}
    where menu_id = #{menuId,jdbcType=INTEGER}
  </update>
</mapper>