<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.PaperMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.Paper">
    <id column="paper_id" jdbcType="INTEGER" property="paperId" />
    <result column="paper_name" jdbcType="VARCHAR" property="paperName" />
    <result column="paper_type" jdbcType="BIT" property="paperType" />
    <result column="exam_minutes" jdbcType="INTEGER" property="examMinutes" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="subject_id" jdbcType="INTEGER" property="subjectId" />
    <result column="subject_name" jdbcType="VARCHAR" property="subjectName" />
    <result column="memo" jdbcType="VARCHAR" property="memo" />
    <result column="del" jdbcType="BIT" property="del" />
    <result column="addname" jdbcType="VARCHAR" property="addname" />
    <result column="addid" jdbcType="INTEGER" property="addid" />
    <result column="addtime" jdbcType="TIMESTAMP" property="addtime" />
    <result column="editname" jdbcType="VARCHAR" property="editname" />
    <result column="editid" jdbcType="INTEGER" property="editid" />
    <result column="edittime" jdbcType="TIMESTAMP" property="edittime" />
  </resultMap>
  <sql id="where">
    <where>
      <if test="paperId !=null">
        AND p.paper_id = #{paperId,jdbcType=INTEGER}
      </if>
      <if test="paperName != null">
        AND p.paper_name = #{paperName,jdbcType=VARCHAR} OR p.paper_name LIKE CONCAT('%',#{paperName,jdbcType=VARCHAR},'%' )
      </if>
      <if test="paperType != null">
        AND p.paper_type = #{paperType,jdbcType=BIT}
      </if>
      <if test="examMinutes != null">
        AND p.exam_minutes = #{examMinutes,jdbcType=INTEGER}
      </if>
      <if test="startTime != null">
        AND p.start_time = #{startTime,jdbcType=TIMESTAMP}
      </if>
      <if test="endTime != null">
        AND p.end_time = #{endTime,jdbcType=TIMESTAMP}
      </if>
      <if test="subjectId != null">
        AND p.subject_id = #{subjectId,jdbcType=INTEGER}
      </if>
    </where>
  </sql>
  <sql id="Base_Column_List">
    paper_id, paper_name, subject_id, paper_type, exam_minutes, start_time, end_time, memo, del,
    addname, addid, addtime, editname, editid, edittime
  </sql>
  <sql id="Column_List_With_Subject">
    p.paper_id, p.paper_name, p.subject_id, s.subject_name, p.paper_type, p.exam_minutes, p.start_time, p.end_time, p.memo, p.del,
    p.addname, p.addid, p.addtime, p.editname, p.editid, p.edittime
  </sql>
  <insert id="insert" parameterType="com.bean.model.Paper" useGeneratedKeys="true" keyProperty="paperId">
    insert into exm_paper
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="paperName != null">
        paper_name,
      </if>
      <if test="paperType != null">
        paper_type,
      </if>
      <if test="examMinutes != null">
        exam_minutes,
      </if>
      <if test="startTime != null">
        start_time,
      </if>
      <if test="endTime != null">
        end_time,
      </if>
      <if test="subjectId != null">
        subject_id,
      </if>
      <if test="memo != null">
        memo,
      </if>
      <if test="del != null">
        del,
      </if>
      <if test="addname != null">
        addname,
      </if>
      <if test="addid != null">
        addid,
      </if>
      <if test="addtime != null">
        addtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="paperName != null">
        #{paperName,jdbcType=VARCHAR},
      </if>
      <if test="paperType != null">
        #{paperType,jdbcType=INTEGER},
      </if>
      <if test="examMinutes != null">
        #{examMinutes,jdbcType=INTEGER},
      </if>
      <if test="startTime != null">
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="subjectId != null">
        #{subjectId,jdbcType=INTEGER},
      </if>
      <if test="memo != null">
        #{memo,jdbcType=VARCHAR},
      </if>
      <if test="del != null">
        #{del,jdbcType=BIT},
      </if>
      <if test="addname != null">
        #{addname,jdbcType=VARCHAR},
      </if>
      <if test="addid != null">
        #{addid,jdbcType=INTEGER},
      </if>
      <if test="addtime != null">
        #{addtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="update" parameterType="com.bean.model.Paper">
    UPDATE exm_paper
    <set>
      <if test="paperId !=null">
        paper_id = #{paperId,jdbcType=INTEGER},
      </if>
      <if test="paperName != null">
        paper_name = #{paperName,jdbcType=VARCHAR},
      </if>
      <if test="paperType != null">
        paper_type = #{paperType,jdbcType=BIT},
      </if>
      <if test="examMinutes != null">
        exam_minutes = #{examMinutes,jdbcType=INTEGER},
      </if>
      <if test="startTime != null">
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="subjectId != null">
        subject_id = #{subjectId,jdbcType=INTEGER},
      </if>
      <if test="memo != null">
        memo = #{memo,jdbcType=INTEGER},
      </if>
      <if test="del != null">
        del = #{del,jdbcType=BIT},
      </if>
      <if test="editname != null">
        editname = #{editname,jdbcType=VARCHAR},
      </if>
      <if test="editid != null">
        editid = #{editid,jdbcType=INTEGER},
      </if>
      <if test="edittime != null">
        edittime = #{edittime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <where>
      paper_id = #{paperId,jdbcType=INTEGER}
    </where>
  </update>
  <select id="getByMap" parameterType="java.util.Map" resultMap="BaseResultMap">
    SELECT
    <include refid="Column_List_With_Subject" />
    FROM exm_paper AS p
    INNER JOIN exm_subject AS s ON p.subject_id=s.subject_id
    <include refid="where" />
  </select>
  <select id="getById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM exm_paper
    WHERE paper_id = #{paperId,jdbcType=INTEGER}
  </select>
  <select id="getListByMap" parameterType="java.util.Map" resultMap="BaseResultMap">
    SELECT
    <include refid="Column_List_With_Subject" />
    FROM exm_paper AS p
    INNER JOIN exm_subject AS s ON p.subject_id=s.subject_id
    <include refid="where" />
  </select>
  <select id="getCountByMap" parameterType="java.util.Map" resultType="int">
    SELECT
    COUNT(*)
    FROM exm_paper AS p
    <include refid="where" />
  </select>

</mapper>