<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.RoleMenuMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.RoleMenu">
    <id column="role_menu_id" jdbcType="INTEGER" property="roleMenuId" />
    <result column="role_id" jdbcType="INTEGER" property="roleId" />
    <result column="menu_id" jdbcType="INTEGER" property="menuId" />
    <result column="menu_name" jdbcType="VARCHAR" property="menuName" />
    <result column="menu_key" jdbcType="VARCHAR" property="menuKey" />
    <result column="menu_url" jdbcType="VARCHAR" property="menuUrl" />
    <result column="role_name" jdbcType="VARCHAR" property="roleName" />
    <result column="role_key" jdbcType="VARCHAR" property="roleKey" />
  </resultMap>
  <sql id="where">
    <where>
      <if test="roleMenuId != null">
        AND rm.role_menu_id = #{roleMenuId,jdbcType=INTEGER}
      </if>
      <if test="roleId != null">
        AND rm.role_id = #{roleId,jdbcType=INTEGER}
      </if>
      <if test="menuId != null">
        AND rm.menu_id = #{menuId,jdbcType=INTEGER}
      </if>
    </where>
  </sql>
  <insert id="insertList" parameterType="java.util.List">
    insert into exm_role_menu (role_id, menu_id
    )
    values
    <foreach collection="list" item="item" index="index" separator=",">
      (#{item.roleId,jdbcType=INTEGER}, #{item.menuId,jdbcType=INTEGER})
    </foreach>
  </insert>
  <insert id="insert" parameterType="com.bean.model.RoleMenu">
    insert into exm_role_menu (role_id, menu_id
    )
    values
    (#{roleId,jdbcType=INTEGER}, #{menuId,jdbcType=INTEGER})
  </insert>
  <delete id="deleteByRoleId" parameterType="java.lang.Integer">
    delete from exm_role_menu
    where role_id = #{roleId,jdbcType=INTEGER}
  </delete>
  <select id="getRoleMenuListByInfo" parameterType="com.bean.model.RoleMenu" resultMap="BaseResultMap">
    SELECT
    rm.role_menu_id, rm.role_id, rm.menu_id, r.role_name, r.role_key, m.menu_name, m.menu_key, m.menu_url
    FROM
    exm_role_menu  AS rm
    INNER JOIN exm_role AS r ON rm.role_id=r.role_id
    INNER JOIN exm_menu AS m ON rm.menu_id=m.menu_id
    <include refid="where" />
  </select>
  <delete id="deleteByRoleMenuId" parameterType="java.lang.Integer">
    delete from exm_role_menu
    where role_menu_id = #{roleMenuId,jdbcType=INTEGER}
  </delete>
  <select id="getCountByInfo" parameterType="com.bean.model.ManagerRole" resultType="int">
    SELECT COUNT(*)
    FROM exm_role_menu AS rm
    <include refid="where" />
  </select>

</mapper>