<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bean.dao.UClassMapper">
  <resultMap id="BaseResultMap" type="com.bean.model.UClass">
    <id column="class_id" jdbcType="INTEGER" property="classId" />
    <result column="class_name" jdbcType="VARCHAR" property="className" />
    <result column="memo" jdbcType="VARCHAR" property="memo" />
    <result column="del" jdbcType="BIT" property="del" />
    <result column="addname" jdbcType="VARCHAR" property="addname" />
    <result column="addid" jdbcType="INTEGER" property="addid" />
    <result column="addtime" jdbcType="TIMESTAMP" property="addtime" />
    <result column="editname" jdbcType="VARCHAR" property="editname" />
    <result column="editid" jdbcType="INTEGER" property="editid" />
    <result column="edittime" jdbcType="TIMESTAMP" property="edittime" />
  </resultMap>
  <sql id="where">
    <where>
      <if test="classId != null">
        AND class_id = #{classId,jdbcType=INTEGER}
      </if>
      <if test="className != null">
        AND class_name = #{className,jdbcType=VARCHAR} OR class_name LIKE CONCAT('%',#{className,jdbcType=VARCHAR},'%' )
      </if>
    </where>
  </sql>
  <sql id="Base_Column_List">
    class_id, class_name, memo, del, addname, addid, addtime, editname, editid, edittime
  </sql>
  <insert id="insert" parameterType="com.bean.model.UClass" useGeneratedKeys="true" keyProperty="classId">
    insert into exm_class
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="className != null">
        class_name,
      </if>
      <if test="memo != null">
        memo,
      </if>
      <if test="addname != null">
        addname,
      </if>
      <if test="addid != null">
        addid,
      </if>
      <if test="addtime != null">
        addtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="className != null">
        #{className,jdbcType=VARCHAR},
      </if>
      <if test="memo != null">
        #{memo,jdbcType=VARCHAR},
      </if>
      <if test="addname != null">
        #{addname,jdbcType=VARCHAR},
      </if>
      <if test="addid != null">
        #{addid,jdbcType=INTEGER},
      </if>
      <if test="addtime != null">
        #{addtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="update" parameterType="com.bean.model.UClass">
    UPDATE exm_class
    <set>
      <if test="className != null">
        class_name = #{className,jdbcType=VARCHAR},
      </if>
      <if test="memo != null">
        memo = #{memo,jdbcType=VARCHAR},
      </if>
      <if test="del != null">
        del = #{del,jdbcType=BIT},
      </if>
      <if test="editname != null">
        editname = #{editname,jdbcType=VARCHAR},
      </if>
      <if test="editid != null">
        editid = #{editid,jdbcType=INTEGER},
      </if>
      <if test="edittime != null">
        edittime = #{edittime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <where>
      class_id = #{classId,jdbcType=INTEGER}
    </where>
  </update>
  <select id="getByMap" parameterType="java.util.Map" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM exm_class
    <include refid="where" />
  </select>
  <select id="getById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM exm_class
    <where>
      class_id = #{classId,jdbcType=INTEGER}
    </where>
  </select>
  <select id="getListByMap" parameterType="java.util.Map" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM exm_class
    <include refid="where" />
  </select>
  <select id="getCountByMap" parameterType="java.util.Map" resultType="int">
    SELECT
    COUNT(*)
    FROM exm_class
    <include refid="where" />
  </select>


  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <select id="selectByExample" parameterType="com.bean.model.ClassExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from exm_class
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from exm_class
    where class_id = #{classId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from exm_class
    where class_id = #{classId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.bean.model.ClassExample">
    delete from exm_class
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insertSelective" parameterType="com.bean.model.UClass">
    insert into exm_class
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="classId != null">
        class_id,
      </if>
      <if test="className != null">
        class_name,
      </if>
      <if test="memo != null">
        memo,
      </if>
      <if test="del != null">
        del,
      </if>
      <if test="addname != null">
        addname,
      </if>
      <if test="addid != null">
        addid,
      </if>
      <if test="addtime != null">
        addtime,
      </if>
      <if test="editname != null">
        editname,
      </if>
      <if test="editid != null">
        editid,
      </if>
      <if test="edittime != null">
        edittime,
      </if>
      <if test="deleteid != null">
        deleteid,
      </if>
      <if test="deletename != null">
        deletename,
      </if>
      <if test="deletetime != null">
        deletetime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="classId != null">
        #{classId,jdbcType=INTEGER},
      </if>
      <if test="className != null">
        #{className,jdbcType=VARCHAR},
      </if>
      <if test="memo != null">
        #{memo,jdbcType=VARCHAR},
      </if>
      <if test="del != null">
        #{del,jdbcType=BIT},
      </if>
      <if test="addname != null">
        #{addname,jdbcType=VARCHAR},
      </if>
      <if test="addid != null">
        #{addid,jdbcType=INTEGER},
      </if>
      <if test="addtime != null">
        #{addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="editname != null">
        #{editname,jdbcType=VARCHAR},
      </if>
      <if test="editid != null">
        #{editid,jdbcType=INTEGER},
      </if>
      <if test="edittime != null">
        #{edittime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteid != null">
        #{deleteid,jdbcType=INTEGER},
      </if>
      <if test="deletename != null">
        #{deletename,jdbcType=VARCHAR},
      </if>
      <if test="deletetime != null">
        #{deletetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.bean.model.ClassExample" resultType="java.lang.Long">
    select count(*) from exm_class
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update exm_class
    <set>
      <if test="record.classId != null">
        class_id = #{record.classId,jdbcType=INTEGER},
      </if>
      <if test="record.className != null">
        class_name = #{record.className,jdbcType=VARCHAR},
      </if>
      <if test="record.memo != null">
        memo = #{record.memo,jdbcType=VARCHAR},
      </if>
      <if test="record.del != null">
        del = #{record.del,jdbcType=BIT},
      </if>
      <if test="record.addname != null">
        addname = #{record.addname,jdbcType=VARCHAR},
      </if>
      <if test="record.addid != null">
        addid = #{record.addid,jdbcType=INTEGER},
      </if>
      <if test="record.addtime != null">
        addtime = #{record.addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.editname != null">
        editname = #{record.editname,jdbcType=VARCHAR},
      </if>
      <if test="record.editid != null">
        editid = #{record.editid,jdbcType=INTEGER},
      </if>
      <if test="record.edittime != null">
        edittime = #{record.edittime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.deleteid != null">
        deleteid = #{record.deleteid,jdbcType=INTEGER},
      </if>
      <if test="record.deletename != null">
        deletename = #{record.deletename,jdbcType=VARCHAR},
      </if>
      <if test="record.deletetime != null">
        deletetime = #{record.deletetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update exm_class
    set class_id = #{record.classId,jdbcType=INTEGER},
      class_name = #{record.className,jdbcType=VARCHAR},
      memo = #{record.memo,jdbcType=VARCHAR},
      del = #{record.del,jdbcType=BIT},
      addname = #{record.addname,jdbcType=VARCHAR},
      addid = #{record.addid,jdbcType=INTEGER},
      addtime = #{record.addtime,jdbcType=TIMESTAMP},
      editname = #{record.editname,jdbcType=VARCHAR},
      editid = #{record.editid,jdbcType=INTEGER},
      edittime = #{record.edittime,jdbcType=TIMESTAMP},
      deleteid = #{record.deleteid,jdbcType=INTEGER},
      deletename = #{record.deletename,jdbcType=VARCHAR},
      deletetime = #{record.deletetime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.bean.model.UClass">
    update exm_class
    <set>
      <if test="className != null">
        class_name = #{className,jdbcType=VARCHAR},
      </if>
      <if test="memo != null">
        memo = #{memo,jdbcType=VARCHAR},
      </if>
      <if test="del != null">
        del = #{del,jdbcType=BIT},
      </if>
      <if test="addname != null">
        addname = #{addname,jdbcType=VARCHAR},
      </if>
      <if test="addid != null">
        addid = #{addid,jdbcType=INTEGER},
      </if>
      <if test="addtime != null">
        addtime = #{addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="editname != null">
        editname = #{editname,jdbcType=VARCHAR},
      </if>
      <if test="editid != null">
        editid = #{editid,jdbcType=INTEGER},
      </if>
      <if test="edittime != null">
        edittime = #{edittime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteid != null">
        deleteid = #{deleteid,jdbcType=INTEGER},
      </if>
      <if test="deletename != null">
        deletename = #{deletename,jdbcType=VARCHAR},
      </if>
      <if test="deletetime != null">
        deletetime = #{deletetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where class_id = #{classId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bean.model.UClass">
    update exm_class
    set class_name = #{className,jdbcType=VARCHAR},
      memo = #{memo,jdbcType=VARCHAR},
      del = #{del,jdbcType=BIT},
      addname = #{addname,jdbcType=VARCHAR},
      addid = #{addid,jdbcType=INTEGER},
      addtime = #{addtime,jdbcType=TIMESTAMP},
      editname = #{editname,jdbcType=VARCHAR},
      editid = #{editid,jdbcType=INTEGER},
      edittime = #{edittime,jdbcType=TIMESTAMP},
      deleteid = #{deleteid,jdbcType=INTEGER},
      deletename = #{deletename,jdbcType=VARCHAR},
      deletetime = #{deletetime,jdbcType=TIMESTAMP}
    where class_id = #{classId,jdbcType=INTEGER}
  </update>
</mapper>